@charset "UTF-8";
@media screen  and (min-width:768px) and (max-width:992px) {
    /*====================Cabeça==================== */
    header{
        height: 15vh;
        width: 100%;
        display: inline-flex;
        justify-content:  left;
        align-items: center;
        flex-flow:  row-reverse;
    }
    header>h1{
        margin-left: 10px;
    }
    /*====================Menu==================== */

    div#menui{
        margin-left: 55%;
        display: flex;
        align-items: right;
    }
    menu#itens {
    position: absolute;
    top: 80px;
    right: 0px;
    display: none;
    z-index: 1000;
    }   
    ul{
        list-style-type: none;
    }
    span#burger{
        text-align: center;
        cursor: pointer;
        font-size: 35px;
        width: 35px;
        height: 35px;
        margin-top: -5px;
        margin-right: 10px;
        transition: height 0.7s, width 0.5s, font-size 1s;
        }
    span#burger:hover{
        margin-top: -7px;
        height: 38px;
        width: 38px;
        font-size: 38px;
        border-radius: 15px;
        background-color: black;
        color: white;
    }

    .link{
        display: block;
        padding: 12px;
        width: 200px;
        height: 55px;
        font-size: 1.4em;
        font-family: "Intel One Mono", monospace;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: white;
        background-color: gold;
        transition: padding-right 0.8s,text-shadow 0.6s;
        }
    .link:hover{
        color: gold;
        text-shadow: -3px 3px 20px gold;
        border-bottom: 4px solid rgb(235, 202, 16);
        background-color: black;
        padding-right: 45px;
        }
    /*====================Manchete==================== */
    article#manchete{
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
    div#serie{
        width: 95%;
        height: 110%;
    }
    div#serie>h2{
    font-size: 2.7em;
    font-family: "Noto Sans", monospace;

    color: yellow;
    }
    div#serie>picture>img{
        padding: 5px;
        width: 90%;
    }
    .Produtores{
    height: 15%;
    width: 100%;
    }
    .Produtores>h3{
    font-family: "Noto Sans", monospace;
    font-size: 2em;
    padding: 5px;
    }
    .ac{
    font-size: 1.5em;   
    font-weight: 300;
    
    transition-timing-function: ease-in;
    transition: 0.7s;
    }
    .ac:hover{
    margin-left: 10px;
    padding: 5px;
    border-left: 7px solid gold;
    background-color: black;
    color: gold;
    }

    /*====================Temporada==================== */
    .tempo{
        width: 70%;
        height: 40vh;
    }
    /*====================Episodios==================== */
    article#episodios{
        height: 195vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    article#episodios>h3{ 
        text-align: center;
        font-size: 2.5em;
        font-family: "Noto Sans", monospace;

        width: 90%;
        height: 12vh;
        margin: 15px;
        padding-top: 10px;

        color: white;
        text-shadow: 5px 3.5px 3px rgba(0, 0, 0, 0.905);
        background-color: rgb(255, 183, 0);

    }
    .episo{
    height: 100%;
    width: 90%;
    background-color: #0f0f0f;  

    display: flex;
    justify-content: center;
    align-items: center;
    }

    .ep{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding: 10px;
        transition: 0.8s;

    }
    .ep>picture{
        width: 70%;
        height: 75%;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 10px;
    }
    .ep>picture>img{
        width: 100%;
        height: 100%;
    }
    .ep>p{
    padding: 5px;
    font-size: 1.5em;
    }

    h4#eph4{
    width: 70%;
    padding: 7px;
    margin: auto;

    font-size: 1.5em;
    }

    .ep:hover{   
    box-shadow: -1px 3px 20px gold;
    background-color: #090909;
    color: gold;
    }
    .ep:hover>h4#eph4{
        border-left: 7px solid gold;
        background-color: black;
        color: gold;
    }

    /*====================Atuacao==================== */

    article#atuacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #0a0a0a;  
        height: 100%;

    }
    .Person{
        width: 90%;
        height: 100%;
        background-color: #0a0a0a;  
    }
    .Person>h3{ 
        text-align: center;
        font-size: 2.5em;
        font-family: "Noto Sans", monospace;

        width: 90%;
        height: 12vh;
        margin: 15px;
        padding-top: 15px;

        color: white;
        text-shadow: 5px 3.5px 3px rgba(0, 0, 0, 0.905);
        background-color: rgb(255, 183, 0);

    }
    .atores{
        width: 95%;
        height: 98%;
        
    }
    
    .actor{
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
        align-items: center;
    
        padding: 20px;
        width: 92%;

        transition: margin-left 0.5s, box-shadow 0.5s,border-bottom 0.3s;

    }
    .actor:hover{
        margin-left: 40px;
        box-shadow: -1px 3px 20px gold;
        border-bottom: 6px solid gold;
    }
     .actor>picture{
        width: 70%;
        height: 100%;
        background-color: pink;
        display: block;
     }
    .actor>picture>img{
        margin-right: 30%;
        padding-top: 0px;
        width: 275px;
        height: 100%;
    }
    h4#acth4{
        width: 100%;

        margin-left: 10px;
        font-size: 1.8em;
        padding: 0px;
        }

}